<header class="header-container">
    <div class="crossfit-slider-effect">
        <div class="scene">
            <span class="scene-item">
            </span>
        </div>
    </div>
    <mat-toolbar class="header-menu">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span>My App</span>
       <span class="example-spacer"></span>
       <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
         <mat-icon>favorite</mat-icon>
       </button>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
     </mat-toolbar>
     <div class="header-title">
        <h3>Life is <span>about sports</span></h3>
        <p>Just stay. <span>Have fun.</span> Update score the match</p>
     </div>
</header>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div>
                <h3>
                    Links
                </h3>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
            </div>
            <div>
                <h3>
                    Links
                </h3>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
            </div>
            <div>
                <h3>
                    Links
                </h3>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
            </div>
            <div>
                <h3>
                    Links
                </h3>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
                <p>Sed ut perspiciatis unde</p>
            </div>
        </div>
        <div class="footer-bottom">
            <span>Ericson © 2019. Fitmax. All Rights Reserved.</span>
            <ul>
                <li>Home</li>
                <li>News</li>
                <li>Match</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</footer>
